* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.parent {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid red; */
}

.flex {
    display: flex;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    align-items: flex-end;
}

nav {
    text-align: right;
}

.quote {
    background-color: lightgray;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5rem;
    text-align: center;
}

.quote p {
    /* background-color: red; */
}

.photo {
    min-height: 300px;
    background-image: url(http://placekitten.com/g/800/300);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.caption {
    width: 50%;
    background-color: black;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.column {
    flex: 33%;
    display: flex;
    background-color: white;
}

.left {
    padding: 20px;
}

.right {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.column2 {
    flex: 1 1 calc(100 / 3);
    justify-content: space-around;
    text-align: center;
    flex-grow: 1;
    background-color: lightgray;
    padding: 20px;
}

.box {
    text-align: center;
    padding: 20px;
    background-color: white;
    flex: 0;
}


/* vanaf hier begint t raar te doen ... hahaha */

.top {}

.four-columns {
    background-color: aqua;
    flex: 25%;
    justify-content: space-between;
    height: 200px;
    padding: 20px;
}

.contact p {
    background-color: red;
}

.bottom {}